h2.categoryName > a.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

h2.categoryName > a.link:hover {
  box-shadow: 0 1px 0 0 currentColor;
  text-decoration: none;
  opacity: 0.9;
}

div.categoryArea > div.toCategory {
  text-align: right;
}
