ul.tagContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

ul.tagContainer li.item {
  list-style: none;
  font-size: small;
  margin: 0.5rem 0;
}

ul.tagContainer li:not(:last-child)::after {
  content: "/";
  margin: 0 0.3rem;
}
